* {
box-sizing: border-box;
margin: 0;
font-family: arial;}

header{
    background-color: white;    
}
h1 {
    display: inline-block;
    font-weight:600;
    font-size:35px;
    vertical-align:middle;
}
#logo {
    margin-top:10px;
    margin-left: 15px;
    vertical-align:middle;
}
body{background-color: rgb(246, 248, 249);}
#bottone-task {
    color: white;
    border-radius: 5px;
    background-color:rgb(71, 173, 241);
    border: 0;
    font-size: 12px;
    padding:5px 10px;
    margin-left: 25px;
}
.nav{
    border-radius: 5px;
    width: 70%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: white;
    padding: 10px;
    
}
#bottone-section {
color: grey;
border-radius: 5px;
background-color:rgb(255, 255, 255);
border: 1px solid grey;
font-size: 12px;
padding: 5px 10px;
margin-left: 2px;
}
.sottomenu {
width: 70%;
margin-top:5px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
background-color: white;
}
h2 {
    display: inline-block;
    margin-left: 2px;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    }
section {
    margin-left: 30px;
    padding: 5px;
    
}
.check {
    border-radius: 50%;
    border: 1px solid green;
    padding: 3px;
    color: green;
}
.cross{
    border-radius: 50%;
    border: 1px solid red;
    padding: 3px;
    color: red;
}
.news {
    font-size: 16px;
    font-weight: 500;
    margin-left:5px;
}
.vignette {
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    box-sizing: border-box;
    font-size: 10px;
    margin-left: 2px;   
}
.editorial {background-color:rgb(71, 173, 241);}
.goal{background-color:rgb(156, 114, 228);}
.recruiting {background-color:rgb(100, 192, 169);}
.mobile {background-color:rgb(242, 158, 51);}
.website {background-color:rgb(216, 99, 161);}
.sales {background-color:rgb(176, 201, 38);}